# Python
__pycache__/
*.pyc
.venv/
venv/
backend/course/

# Env
.env

# Data
backend/data/uploads/*
backend/data/index/*
backend/data/metadata/*
#backend/data/eval/*
backend/data/*
backend/resourcess/*

# Models
backend/models/

# OS
.DS_Store